Source: haloradio
Section: unknown
Priority: optional
Maintainer: Philip J Freeman <phil@kremlor.net>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.2

Package: haloradio-base
Architecture: all
#Depends: ${shlibs:Depends}, ${misc:Depends}, mysql-client, icecast-client, libshout3, python, python-mysqldb, python-simpletal, apache2, python-rrd
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: haloradio base package

Package: haloradio-frontend
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, haloradio-base (= ${Source-Version})
Recommends: apache2

Package: haloradio-lib
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, haloradio-base (= ${Source-Version}), mysql-client, icecast-client, libshout3, python, python-mysqldb, python-simpletal, apache2, python-rrd
Description: haloradio

Package: haloradio-util
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, haloradio-base (= ${Source-Version}), haloradio-lib (= ${Source-Version})
Description: haloradio backend

Package: haloradio-backend
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, haloradio-base (= ${Source-Version}), haloradio-lib (= ${Source-Version}), haloradio-util (= ${Source-Version})
Recommends: mysql-server, icecast2
Description: haloradio backend

