Source: haloradio
Section: unknown
Priority: optional
Maintainer: Philip J Freeman <phil@kremlor.net>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.2

Package: haloradio-base
Architecture: all
Depends: python
Description: haloradio Base Package

Package: haloradio-lib
Architecture: all
Depends: haloradio-base (= ${Source-Version}), mysql-client, icecast-client, libshout3, python, python-mysqldb, python-simpletal
Description: haloradio Library

Package: haloradio-frontend
Architecture: all
Depends: haloradio-lib (= ${Source-Version}), mysql-client, icecast-client, libshout3, python, python-mysqldb, python-simpletal, apache2, python-rrd
Recommends: apache2
Description: haloradio Frontend

Package: haloradio-util
Architecture: all
Depends: haloradio-lib (= ${Source-Version})
Description: haloradio Utilities

Package: haloradio-backend
Architecture: all
Depends: haloradio-util (= ${Source-Version}), lame, daemontools
Recommends: mysql-server, icecast2
Description: haloradio Backend

Package: haloradio-backend-extra
Architecture: all
Depends: haloradio-backend (= ${Source-Version})
Description: haloradio Backend Extra. Commercials.

